<div class="parent">
    <div class="child">
        <div nz-row class="imgDiv">
            <h2>Create Ad</h2>
        </div>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="postAd()">
            <div nz-row>
                <div nz-col [nzMd]="24" [nzXs]="24" style="position: relative;">
                    <label for="upload_profile-image">
                        <img [src]="imagePreview" alt="profile" *ngIf="selectedFile" />
                        <input type="file" id="upload_profile-image" accept="image/x-png, image/gif, image/jpeg" (change)="onFileSelected($event)" />
                    </label>
                </div>
                <div nz-col nzSpan="24" style="margin-top: 20px;">
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required!">
                            <input nz-input placeholder="Service Name" formControlName="serviceName" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" style="margin-top: 20px;">
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required!">
                            <input nz-input placeholder="Price" formControlName="price" type="number" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" style="margin-top: 20px;">
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required!">
                            <textarea rows="1" nz-input placeholder="Description" formControlName="description"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <button nz-button [nzType]="'primary'" style="margin-top: 20px;">Add</button>
            </div>
        </form>
    </div>
</div>
